@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
font-family: Inter;
background-color: #b0aeeb;
}

.container__imagem {
width: 100px;
}

.container__titulo {
color: #aa9d8a;
}

.container__botao {
display: inline-block;
background-color: #d48a8a;
color: white;
padding: 1em;
border-radius: 16px;
text-decoration: none;
}

.container {
width: 20%;
background-color: #FFFFFF;
border-radius: 15px;
padding: 10px;
margin: 0 auto;
}